# Extrai Tweets

In [ ]:
# para instalar as dependências:
!pip install tweepy datetime

# Play!!!

In [ ]:
!python get_tweets.py

# Entendendo a estrutura do Json

In [2]:
import json

In [3]:
# abrir o arquivos de tweets e ler as linhas
with open("collected_tweets_2020-12-06-22-38-11.txt", "r") as file:
    tweets = file.readlines()

In [ ]:
tweets[0]

In [5]:
with open('tweet.json', 'w') as f:
    json.dump(
        json.loads(tweets[0]), f
    )

In [6]:
type(json.loads(tweets[0]))

str

In [8]:
type(
    json.loads(
        json.loads(tweets[0])
    )
)

dict

In [9]:
with open('tweet.json', 'w') as f:
    json.dump(
        json.loads(
            json.loads(tweets[0])
        ), f
    )

In [12]:
# Exemplo de loop em python
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
# Retorna uma lista...
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
parsed_tweets = [json.loads( json.loads(i)) for i in tweets]

In [ ]:
parsed_tweets[4]

In [19]:
len(parsed_tweets)

4984

# Acessando as chaves do JSON (dicionário)

In [20]:
parsed_tweets[0].keys()

dict_keys(['created_at', 'id', 'id_str', 'text', 'source', 'truncated', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'retweeted_status', 'is_quote_status', 'quote_count', 'reply_count', 'retweet_count', 'favorite_count', 'entities', 'favorited', 'retweeted', 'filter_level', 'lang', 'timestamp_ms'])

In [45]:
primeirotweet = parsed_tweets[1]

In [ ]:
primeirotweet

In [ ]:
primeirotweet.keys()

In [25]:
primeirotweet['created_at']

'Mon Dec 07 01:38:07 +0000 2020'

In [23]:
primeirotweet['id']

1335760468984688642

In [24]:
primeirotweet['id_str']

'1335760468984688642'

In [26]:
primeirotweet['truncated']

False

In [ ]:
primeirotweet.items()

In [ ]:
list(primeirotweet.items())

In [31]:
list(primeirotweet.items())[0]

('created_at', 'Mon Dec 07 01:38:07 +0000 2020')

In [32]:
list(primeirotweet.items())[1]

('id', 1335760468984688642)

In [33]:
# acessando o texto do tweet
# Chave de primeiro nivel
primeirotweet['text']

'RT @robbhurstCPA: Ware County, Ga has broken the Dominion algorithm:\n\nUsing sequestered Dominion Equipment, Ware County ran a equal number…'

In [ ]:
# Acessar a chave user
primeirotweet['user']

In [36]:
primeirotweet['user']['id']

803625254

In [37]:
primeirotweet['user']['name']

'Peyton'

In [38]:
primeirotweet['user']['screen_name']

'p_nobles15'

In [39]:
primeirotweet['user']['location']

'Georgia, USA'

In [ ]:
# Pegando a informação do Tweet Original
primeirotweet['retweeted_status']

In [42]:
primeirotweet['retweeted_status']['created_at']

'Sun Dec 06 12:11:54 +0000 2020'

In [46]:
# Pegando o nome do primeiro usuário do tweet original
primeirotweet['retweeted_status']['entities']

{'hashtags': [],
 'urls': [{'url': 'https://t.co/zRkpz7s61T',
   'expanded_url': 'https://twitter.com/i/web/status/1335758557011034112',
   'display_url': 'twitter.com/i/web/status/1…',
   'indices': [117, 140]}],
 'user_mentions': [{'screen_name': 'drdavidsamadi',
   'name': 'Dr. David Samadi, MD',
   'id': 25816369,
   'id_str': '25816369',
   'indices': [0, 14]}],
 'symbols': []}

In [47]:
primeirotweet['retweeted_status']['entities']['user_mentions']

[{'screen_name': 'drdavidsamadi',
  'name': 'Dr. David Samadi, MD',
  'id': 25816369,
  'id_str': '25816369',
  'indices': [0, 14]}]

In [49]:
primeirotweet['retweeted_status']['entities']['user_mentions'][0]['name']

'Dr. David Samadi, MD'

# Transformar os tweets em uma estrutura relacional analisável

In [50]:
import pandas as pd

In [51]:
teste = pd.DataFrame(primeirotweet)

In [52]:
teste
# Não funciona!!!!

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,quote_count,reply_count,retweet_count,favorite_count,entities,favorited,retweeted,filter_level,lang,timestamp_ms
id,Mon Dec 07 01:38:07 +0000 2020,1335760469114585090,1335760469114585090,RT @Wendy23967141: @drdavidsamadi That it only...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,0,0,0,0,NaN,False,False,low,en,1607305087723
id_str,Mon Dec 07 01:38:07 +0000 2020,1335760469114585090,1335760469114585090,RT @Wendy23967141: @drdavidsamadi That it only...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,0,0,0,0,NaN,False,False,low,en,1607305087723
name,Mon Dec 07 01:38:07 +0000 2020,1335760469114585090,1335760469114585090,RT @Wendy23967141: @drdavidsamadi That it only...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,0,0,0,0,NaN,False,False,low,en,1607305087723
screen_name,Mon Dec 07 01:38:07 +0000 2020,1335760469114585090,1335760469114585090,RT @Wendy23967141: @drdavidsamadi That it only...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,0,0,0,0,NaN,False,False,low,en,1607305087723
location,Mon Dec 07 01:38:07 +0000 2020,1335760469114585090,1335760469114585090,RT @Wendy23967141: @drdavidsamadi That it only...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,0,0,0,0,NaN,False,False,low,en,1607305087723
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
filter_level,Mon Dec 07 01:38:07 +0000 2020,1335760469114585090,1335760469114585090,RT @Wendy23967141: @drdavidsamadi That it only...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,0,0,0,0,NaN,False,False,low,en,1607305087723
hashtags,Mon Dec 07 01:38:07 +0000 2020,1335760469114585090,1335760469114585090,RT @Wendy23967141: @drdavidsamadi That it only...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,0,0,0,0,[],False,False,low,en,1607305087723
urls,Mon Dec 07 01:38:07 +0000 2020,1335760469114585090,1335760469114585090,RT @Wendy23967141: @drdavidsamadi That it only...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,0,0,0,0,[],False,False,low,en,1607305087723
user_mentions,Mon Dec 07 01:38:07 +0000 2020,1335760469114585090,1335760469114585090,RT @Wendy23967141: @drdavidsamadi That it only...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,0,0,0,0,"[{'screen_name': 'Wendy23967141', 'name': 'Wen...",False,False,low,en,1607305087723
symbols,Mon Dec 07 01:38:07 +0000 2020,1335760469114585090,1335760469114585090,RT @Wendy23967141: @drdavidsamadi That it only...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,0,0,0,0,[],False,False,low,en,1607305087723

In [53]:
teste.columns

Index(['created_at', 'id', 'id_str', 'text', 'source', 'truncated',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str',
       'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place',
       'contributors', 'retweeted_status', 'is_quote_status', 'quote_count',
       'reply_count', 'retweet_count', 'favorite_count', 'entities',
       'favorited', 'retweeted', 'filter_level', 'lang', 'timestamp_ms'],
      dtype='object')

In [57]:
# O iloc[0] faz com que o retorno fique como series, e não um dataframe
df_tratado = pd.DataFrame(primeirotweet).reset_index(drop=True).iloc[0] 
df_tratado

created_at                                      Mon Dec 07 01:38:07 +0000 2020
id                                                         1335760469114585090
id_str                                                     1335760469114585090
text                         RT @Wendy23967141: @drdavidsamadi That it only...
source                       <a href="http://twitter.com/download/android" ...
truncated                                                                False
in_reply_to_status_id                                                     None
in_reply_to_status_id_str                                                 None
in_reply_to_user_id                                                       None
in_reply_to_user_id_str                                                   None
in_reply_to_screen_name                                                   None
user                                                       1298140514449895425
geo                                                                       None
coordinates                                                               None
place                                                                     None
contributors                                                              None
retweeted_status                                           1335758557011034112
is_quote_status                                                          False
quote_count                                                                  0
reply_count                                                                  0
retweet_count                                                                0
favorite_count                                                               0
entities                                                                   NaN
favorited                                                                False
retweeted                                                                False
filter_level                                                               low
lang                                                                        en
timestamp_ms                                                     1607305087723
Name: 0, dtype: object

In [65]:
# Para retornar como um dataframe... iloc[:1] --> O final é exclusivo, ou seja vai retornar apenas a primeira linha (como se fosse um "TOP 1")
df_tratado = pd.DataFrame(primeirotweet).reset_index(drop=True).iloc[:1]
df_tratado

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,quote_count,reply_count,retweet_count,favorite_count,entities,favorited,retweeted,filter_level,lang,timestamp_ms
0,Mon Dec 07 01:38:07 +0000 2020,1335760469114585090,1335760469114585090,RT @Wendy23967141: @drdavidsamadi That it only...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,0,0,0,0,NaN,False,False,low,en,1607305087723

In [64]:
df_tratado.columns

Index(['created_at', 'id', 'id_str', 'text', 'source', 'truncated',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str',
       'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place',
       'contributors', 'retweeted_status', 'is_quote_status', 'quote_count',
       'reply_count', 'retweet_count', 'favorite_count', 'entities',
       'favorited', 'retweeted', 'filter_level', 'lang', 'timestamp_ms'],
      dtype='object')

In [66]:
# começando a limpar o dataframe, removendo colunas desnecessárias
df_tratado.drop(columns=['quote_count','reply_count', 'retweet_count', 'favorite_count',
                        'favorited', 'retweeted', 'user', 'entities', 'retweeted_status'], inplace = True)

In [67]:
df_tratado.columns

Index(['created_at', 'id', 'id_str', 'text', 'source', 'truncated',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str',
       'in_reply_to_screen_name', 'geo', 'coordinates', 'place',
       'contributors', 'is_quote_status', 'filter_level', 'lang',
       'timestamp_ms'],
      dtype='object')

In [ ]:
primeirotweet['user']

In [69]:
df_tratado['user_id'] = primeirotweet['user']['id']
df_tratado['user_id_str'] = primeirotweet['user']['id_str']
df_tratado['user_screen_name'] = primeirotweet['user']['screen_name']
df_tratado['user_location'] = primeirotweet['user']['location']
df_tratado['user_description'] = primeirotweet['user']['description']
df_tratado['user_protected'] = primeirotweet['user']['protected']
df_tratado['user_verified'] = primeirotweet['user']['verified']
df_tratado['user_followers_count'] = primeirotweet['user']['followers_count']
df_tratado['user_friends_count'] = primeirotweet['user']['friends_count']
df_tratado['user_created_at'] = primeirotweet['user']['created_at']

In [70]:
df_tratado

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,user_id,user_id_str,user_screen_name,user_location,user_description,user_protected,user_verified,user_followers_count,user_friends_count,user_created_at
0,Mon Dec 07 01:38:07 +0000 2020,1335760469114585090,1335760469114585090,RT @Wendy23967141: @drdavidsamadi That it only...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,1298140514449895425,1298140514449895425,ColoradoCali2,"Denver, CO",Pro- God Family Country Israel Guns and Pro Li...,False,False,926,1815,Tue Aug 25 06:10:06 +0000 2020

In [71]:
#Entidades
primeirotweet['entities']

{'hashtags': [],
 'urls': [],
 'user_mentions': [{'screen_name': 'Wendy23967141',
   'name': 'Wendy',
   'id': 1261863538999480322,
   'id_str': '1261863538999480322',
   'indices': [3, 17]},
  {'screen_name': 'drdavidsamadi',
   'name': 'Dr. David Samadi, MD',
   'id': 25816369,
   'id_str': '25816369',
   'indices': [19, 33]}],
 'symbols': []}

In [73]:
user_mentions = []
for i in range(len(primeirotweet['entities']['user_mentions'])):
    dicionariobase = primeirotweet['entities']['user_mentions'][i].copy()
    dicionariobase.pop('indices', None)
    df = pd.DataFrame(dicionariobase, index=[0])
    df = df.rename(columns={
        'screen_name': 'entities_screen_name',
        'name': 'entities_name',
        'id': 'entities_id',
        'id_str': 'entities_id_str'
    })
    user_mentions.append(df)

In [78]:
user_mentions

[  entities_screen_name entities_name          entities_id      entities_id_str
 0        Wendy23967141         Wendy  1261863538999480322  1261863538999480322,
   entities_screen_name         entities_name  entities_id entities_id_str
 0        drdavidsamadi  Dr. David Samadi, MD     25816369        25816369]

In [77]:
user_mentions[0]

  entities_screen_name entities_name          entities_id      entities_id_str
0        Wendy23967141         Wendy  1261863538999480322  1261863538999480322

In [79]:
pd.concat(user_mentions, ignore_index=True)
# Não resolve...

,entities_screen_name,entities_name,entities_id,entities_id_str
0,Wendy23967141,Wendy,1261863538999480322,1261863538999480322
1,drdavidsamadi,"Dr. David Samadi, MD",25816369,25816369

In [80]:
dfs = []
for i in user_mentions:
    dfs.append(
        pd.concat([df_tratado.copy(), i], axis=1)
    )

In [83]:
dfs[1]

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,user_description,user_protected,user_verified,user_followers_count,user_friends_count,user_created_at,entities_screen_name,entities_name,entities_id,entities_id_str
0,Mon Dec 07 01:38:07 +0000 2020,1335760469114585090,1335760469114585090,RT @Wendy23967141: @drdavidsamadi That it only...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,Pro- God Family Country Israel Guns and Pro Li...,False,False,926,1815,Tue Aug 25 06:10:06 +0000 2020,drdavidsamadi,"Dr. David Samadi, MD",25816369,25816369

In [84]:
pd.concat(dfs, ignore_index=True)

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,user_description,user_protected,user_verified,user_followers_count,user_friends_count,user_created_at,entities_screen_name,entities_name,entities_id,entities_id_str
0,Mon Dec 07 01:38:07 +0000 2020,1335760469114585090,1335760469114585090,RT @Wendy23967141: @drdavidsamadi That it only...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,Pro- God Family Country Israel Guns and Pro Li...,False,False,926,1815,Tue Aug 25 06:10:06 +0000 2020,Wendy23967141,Wendy,1261863538999480322,1261863538999480322
1,Mon Dec 07 01:38:07 +0000 2020,1335760469114585090,1335760469114585090,RT @Wendy23967141: @drdavidsamadi That it only...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,Pro- God Family Country Israel Guns and Pro Li...,False,False,926,1815,Tue Aug 25 06:10:06 +0000 2020,drdavidsamadi,"Dr. David Samadi, MD",25816369,25816369

Vamos criar uma função que faz todo o tratamento do tweet e converte para um Dataframe Pandas

In [94]:
def tweet_para_df(tweet):
    try:
        df_tratado = pd.DataFrame(tweet).reset_index(drop=True).iloc[:1]
        df_tratado.drop(columns=['quote_count','reply_count', 'retweet_count', 'favorite_count',
                            'favorited', 'retweeted', 'user', 'entities', 'retweeted_status'], inplace = True)
        df_tratado['user_id'] = tweet['user']['id']
        df_tratado['user_id_str'] = tweet['user']['id_str']
        df_tratado['user_screen_name'] = tweet['user']['screen_name']
        df_tratado['user_location'] = tweet['user']['location']
        df_tratado['user_description'] = tweet['user']['description']
        df_tratado['user_protected'] = tweet['user']['protected']
        df_tratado['user_verified'] = tweet['user']['verified']
        df_tratado['user_followers_count'] = tweet['user']['followers_count']
        df_tratado['user_friends_count'] = tweet['user']['friends_count']
        df_tratado['user_created_at'] = tweet['user']['created_at']

        user_mentions = []
        for i in range(len(tweet['entities']['user_mentions'])):
            dicionariobase = tweet['entities']['user_mentions'][i].copy()
            dicionariobase.pop('indices', None)
            df = pd.DataFrame(dicionariobase, index=[0])
            df = df.rename(columns={
                'screen_name': 'entities_screen_name',
                'name': 'entities_name',
                'id': 'entities_id',
                'id_str': 'entities_id_str'
            })
            user_mentions.append(df)

        dfs = []
        for i in user_mentions:
            dfs.append(
                pd.concat([df_tratado.copy(), i], axis=1)
            )

        df_final = pd.concat(dfs, ignore_index=True)
    except:
        return None
    return df_final

In [102]:
tweet_para_df(parsed_tweets[9])

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,user_description,user_protected,user_verified,user_followers_count,user_friends_count,user_created_at,entities_screen_name,entities_name,entities_id,entities_id_str
0,Mon Dec 07 01:38:07 +0000 2020,1335760469743775745,1335760469743775745,RT @GA_peach3102: The @GOP @RNC are not our fr...,"<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,Former Fed; NRA member; #MAGA; Blocked by Cher...,False,False,14500,13731,Sat Feb 27 00:12:27 +0000 2016,GA_peach3102,GaPeach🍑4Trump⭐️⭐️Text Trump to 88022,1024775399736311808,1024775399736311808
1,Mon Dec 07 01:38:07 +0000 2020,1335760469743775745,1335760469743775745,RT @GA_peach3102: The @GOP @RNC are not our fr...,"<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,Former Fed; NRA member; #MAGA; Blocked by Cher...,False,False,14500,13731,Sat Feb 27 00:12:27 +0000 2016,GOP,GOP,11134252,11134252
2,Mon Dec 07 01:38:07 +0000 2020,1335760469743775745,1335760469743775745,RT @GA_peach3102: The @GOP @RNC are not our fr...,"<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,Former Fed; NRA member; #MAGA; Blocked by Cher...,False,False,14500,13731,Sat Feb 27 00:12:27 +0000 2016,RNC,RNC,529648439,529648439

In [103]:
%%time
# O comando acima funciona apenas no Jupyter (e deve ser o primeiro item na celula)!
# Vamos iterar e transformar todos os tweets
parseados = [tweet_para_df(tweet) for tweet in parsed_tweets]

CPU times: user 27.3 s, sys: 15.9 s, total: 43.2 s
Wall time: 49.3 s

In [106]:
parseados[2]

In [107]:
# Eliminar as posiçòes vazias, por causa do except
parseados = [i for i in parseados if i is not None]

In [109]:
len(parseados)

3522

In [110]:
tratado = pd.concat(parseados, ignore_index=True)

In [111]:
tratado

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,entities_screen_name,entities_name,entities_id,entities_id_str,possibly_sensitive,quoted_status_id,quoted_status_id_str,quoted_status,quoted_status_permalink,extended_entities
0,Mon Dec 07 01:38:07 +0000 2020,1335760468984688642,1335760468984688642,"RT @robbhurstCPA: Ware County, Ga has broken t...","<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,robbhurstCPA,"Robb Hurst, CPA 🐸",1177020086697299971,1177020086697299971,NaN,NaN,NaN,NaN,NaN,NaN
1,Mon Dec 07 01:38:07 +0000 2020,1335760469114585090,1335760469114585090,RT @Wendy23967141: @drdavidsamadi That it only...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,Wendy23967141,Wendy,1261863538999480322,1261863538999480322,NaN,NaN,NaN,NaN,NaN,NaN
2,Mon Dec 07 01:38:07 +0000 2020,1335760469114585090,1335760469114585090,RT @Wendy23967141: @drdavidsamadi That it only...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,drdavidsamadi,"Dr. David Samadi, MD",25816369,25816369,NaN,NaN,NaN,NaN,NaN,NaN
3,Mon Dec 07 01:38:07 +0000 2020,1335760469504745473,1335760469504745473,RT @FOX29philly: Attorney Sidney Powell filed ...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,FOX29philly,FOX 29,14787713,14787713,NaN,NaN,NaN,NaN,NaN,NaN
4,Mon Dec 07 01:38:07 +0000 2020,1335760469705981955,1335760469705981955,RT @gostop10: 素晴らしい、ペンタゴン\n\n速報】ペンタゴンは、バイデン移行チ...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,gostop10,gostop,2791941745,2791941745,False,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4457,Mon Dec 07 01:40:12 +0000 2020,1335760991985029124,1335760991985029124,RT @mmpadellan: JUST IN: AG Bill Barr is think...,"<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,mmpadellan,BrooklynDad_Defiant!,1640929196,1640929196,NaN,NaN,NaN,NaN,NaN,NaN
4458,Mon Dec 07 01:40:12 +0000 2020,1335760991989198850,1335760991989198850,RT @FoxNews: Trump legal team celebrates after...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,FoxNews,Fox News,1367531,1367531,False,NaN,NaN,NaN,NaN,NaN
4459,Mon Dec 07 01:40:12 +0000 2020,1335760992249081857,1335760992249081857,RT @Megavolts001: #Election2020 \n#Rudy\nTrump...,"<a href=""http://twitter.com/#!/download/ipad"" ...",False,None,None,None,None,...,Megavolts001,EMPIntelligenceNet©,803017539903029248,803017539903029248,NaN,NaN,NaN,NaN,NaN,NaN
4460,Mon Dec 07 01:40:12 +0000 2020,1335760992429617155,1335760992429617155,RT @funder: Loeffler is a bigger racist than T...,"<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,funder,Scott Dworkin,14247236,14247236,NaN,NaN,NaN,NaN,NaN,NaN
4461,Mon Dec 07 01:40:12 +0000 2020,1335760992454709249,1335760992454709249,RT @DineshDSouza: After three years of not con...,"<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,DineshDSouza,Dinesh D'Souza,91882544,91882544,NaN,NaN,NaN,NaN,NaN,NaN

# Ingestão de dados do Twitter no SQL Server

Primeira coisa:
Instalar o SQL Server (via Docker, instalação, etc...)

Depois do SQL Server instalado, entrar na instancia e criar a base.

In [115]:
# Instalar as dependências:
!pip install sqlalchemy
!pip install pyodbc

Requirement already satisfied: sqlalchemy in /home/logan/.local/lib/python3.8/site-packages (1.3.20)
Requirement already satisfied: pyodbc in /home/logan/anaconda3/lib/python3.8/site-packages (4.0.0-unsupported)

In [113]:
import pyodbc
import sqlalchemy

In [114]:
engine = sqlalchemy.engine(
    "mssql+pyodbc://sa:Senha@127.0.0.1/DatabaseName?driver=ODBC+Driver+17+for+SQL+Server"
)

TypeError: 'module' object is not callable

In [ ]:
# Ingestão 
tratado.to_sql("tweets", con=engine, index=False, if_exists='append')